@font-face {
    font-family: 'Franklin';
    src: url('../fonts/ofont.ru_Franklin Gothic Medium.eot');
    src: local('☺'), url('../fonts/ofont.ru_Franklin Gothic Medium.woff') format('woff') url('../fonts/ofont.ru_Franklin Gothic Medium.ttf') format('truetype'),
        url('../fonts/ofont.ru_Franklin Gothic Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    font-family: 'Franklin';
}

nav {
    width: 100%;
    height: 60px;
    background-color: #344051;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999999;
}

.logo {
    color: white;
    font-size: 20px;
    padding-left: 250px;
}

ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    width: 7vw;
    margin: 7px;
    list-style-type: none;
    line-height: 30px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    animation: slide 1.2s;
    position: relative;
    animation-fill-mode: backwards;
}

.del#_1 {
    animation-delay: 1s;
}

.del#_2 {
    animation-delay: 1.3s;
}

.del#_3 {
    animation-delay: 1.6s;
}

.del#_4 {
    animation-delay: 1.9s;
}

.del#_5 {
    animation-delay: 2.2s;
}

.del#_6 {
    animation-delay: 2.5s;
}

@keyframes slide {
    from {
        top: -60px;
        opacity: 0
    }
    
    to {
        top: 0px;
        opacity: 1
    }
}

h1 {
    margin-top: 0px;
    font-size: 4em;
    text-align: center;
    margin-block-end: 0.3em
}

.title-container {
    margin-top: 60px;
    background-image: url("../image/background.png");
    background-size: cover;
    height: 91vh;
    overflow: hidden;
}

.content-title {
    display: flex;
    justify-content: space-between;
}

.left {
    position: relative;
    top: 28vh;
    left: 15vw;
    text-align: center;
    float: none;
    display: block;
    animation: my_animation 2s;
    animation-fill-mode: both;
}

.left h4 {
    margin-bottom: 2em;
}

@keyframes my_animation {
    from {
        left: -800px;
        opacity: 0
    }

    to {
        left: 15vw;
        opacity: 1
    }
}

.right img {
    height: 100vh;
    width: 50wh;
}

.title-container button {
    width: 100px;
    height: 30px;
    padding: 0px;
    margin-right: 5%;
}

.about-container {
    text-align: center;
    height: 70vh;
    padding-top: 50px;
}

.about-container #picture {
    height: 200px;
    width: 200px;
    border-radius: 200px;
}

.about-container p {
    margin: 0px auto;
    width: 85%;
    text-align: left;
    width: 60%;
}

.about-container button {
    width: 150px;
    height: 30px;
}

hr {
    width: 5%;
    border-top: 10px #ff9100;
    border-left: 10px #ff9100;
    border-width: 4px;
    border-color: #ff9100;
    background: #ff9100;
}

.wic {
    background-image: url("../image/background4.png");
    min-height: 500px;
}

.wic h2 {
    padding-top: 15vh;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-container h3 {
    color: #ff9100;
}

.black h3 {
    color: rgb(0, 0, 0);
    font-size: 2.5em;
    font-weight: bold;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.skill-container {
    min-width: 200px;
    text-align: center;
    width: 25%;
    height: 25vh;
    margin-top: 10vh;
}

/* .skill-container#last {
    text-align: center;
    width: 25%;
    height: 49vh;
} */

.cases {
    text-align: center;
}

.about-project {
    margin-right: 10%;
}

.project {
    display: flex;
    width: 80%;
    margin-left: 10%;
    text-align: left;
}

.project h3 {
    margin-block-end: 0em;
}

.project p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.cases button {
    color: white;
    font: old 84% 'trebuchet ms', helvetica, sans-serif;
    background-color: #63b5ae;
    border: 0px;
    height: 30px;
    width: 150px;
    margin-top: 20px;
}

.photo {
    text-align: center;
    width: 80%;
    height: 80%;
}

h2 {
    text-align: center;
}

.calculation {
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
    width: 60%;
    margin-left: 20%;
}

.calculation h3 {
    text-align: left;
    text-transform: uppercase;
}

.calculation select {
    background-color: #eeeeee;
    border: 0px solid white;
    height: 50px;
    width: 100%;
    outline: none;
}

.statistics {
    background-image: url(../image/background3.png);
    min-height: 490px;
}

.statistics h2 {
    padding-top: 100px;
}

.rewiews {
    text-align: center;
    height: 60vh;
}

.rewiews h2 {
    padding-top: 45px;
}

.contacts p {
    text-align: center;
}

.contacts {
    background-image: url(../image/background2.png);
    color: aliceblue;
    height: 105vh;
    text-align: center;
}

.contacts h2 {
    padding-top: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
    margin-bottom: 15px;
}

.info-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h4 {
    margin: 0px;
}

.info img {
    height: 40%;
    width: 30%;
}

.contacts button {
    color: white;
    border-color: white;
    width: 100px;
    height: 40px;
}

.message {
    text-align: center;
    margin-block-start: 0%;
}

.location {
    text-align: center;
    background-image: url(../image/map.png);
}

.location button {
    margin: 10%;
    background-color: white;
    border: 0px;
    border-radius: 0px;
    width: 100px;
    height: 40px;
}

textarea {
    resize: none;
    height: 13vh;
    width: 49.7%;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.8);
}

textarea::-webkit-input-placeholder {
    color: black;
}

/* Разметить как таблицу */
input {
    height: 5vh;
    width: 46%;
    margin-bottom: 1%;
    min-width: 25%;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.8);
}

.input-container {
    display: flex;
    justify-content:space-between;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

input::-webkit-input-placeholder {
    color: black;
}

button {
    color: black;
    font: old 84% 'trebuchet ms', helvetica, sans-serif;
    background-color: transparent;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
}

button:hover {
    scale: 1.10;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

.url {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin-left: 30%;
    margin-top: 4vh;
}

.url img {
    height: 85%;
}

/* чтоб крол был поверх контента */
body {
    overflow: overlay;
}

body::-webkit-scrollbar {
    width: 0.7em;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(137, 164, 192);
    border-radius: 20px;
}

.calculation>hr {
    margin-top: 20px;
    border-width: 1px;
    border-radius: 0px;
    background: #d1d1d1;
    border-color: #d1d1d1;
    width: 100%;
}

@media (orientation: portrait),
(max-width: 800px) {
    .content-title {
        display: block;
    }

    .content-title .right {
        position: relative;
        top: -30vh;
        left: -5%;
    }

    @keyframes my_animation {
        from {
            left: -800px;
            opacity: 0
        }

        to {
            left: 0vw;
            opacity: 1
        }
    }

    .wic {
        margin-top: 60px;
        background-size: cover;
    }

    .wic h2 {
        padding-top: 20px;
    }

    .statistics {
        margin-top: 60px;
        background-size: cover;
    }

    .statistics h2 {
        padding-top: 20px;
    }

    .logo {
        padding-left: 0px;
    }

    .content-title .left {
        color: white;
        z-index: 1000;
    }

    .title-container {
        background-color: rgb(0, 0, 0);
    }

    .title-container img {
        filter: brightness(65%);
    }
}